
<table border="1">
    <tr>
        <thead>
            <th>Id</th>
            <th>C칩digo</th>
            <th>Nombre</th>
            <th>Descripci칩n</th>
            <th>Precio</th>
        </thead>
    </tr>
    <tr>
        <td><%=@productos.id%></td>
        <td><%=@productos.codigo%></td>
        <td><%=@productos.nombre%></td>
        <td><%=@productos.descripcion%></td>
        <td><%=@productos.precio%></td>
    </tr>
</table>

<br /><br />

<%= link_to "Volver atr치s", "/" %>

<br /><br />

<%= button_to "Confirmar Eliminaci칩n", @productos, method: :delete %>